{% extends "layout.html" %}
{% block content %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/home-bg.jpg')}}')">

            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                   <div class="col-md-10 col-lg-8 col-xl-7"> 
                        <div class="site-heading">
                            <h1>{{config['blog_title']}}</h1>
                            <span class="subheading">{{config['sub_heading']}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
    <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-12 col-lg-12 col-xl-9">
                      
        {% for post in posts %}
            <div class="post-preview mb-5">
            <a href="/post/{{ post.slug }}">
            <h2 class="post-title">{{ post.title }}</h2>
            <h3 class="post-subtitle">{{ post.sub_title }}</h3>
            </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">TheCodingCamp</a>
                        on {{ post.date }}
                </p>
                <p>{{ post.content[0:100] }}...</p>
                <hr class="my-4" />
            </div>
        {% endfor %}

    
          <!-- Pager-->
        <div class="d-flex justify-content-between mb-4">
            <a class="btn btn-primary text-uppercase" href="{{ prev }}" style="border-radius: 12px;"> &larr; Previous Posts </a>

            <a class="btn btn-primary text-uppercase" href="{{ next }}" style="border-radius: 12px;"> Next Posts &rarr; </a>
        </div>



    </div>
    </div>
    </div>
                
{% endblock %}
